body
{font-family: 'Original Surfer', cursive;margin: 0;}
.parent{
	position:absolute;
}
.para1{
	position:absolute;display:block;color:#;margin:0% 32%;width:70%;font-size: 350%;font-family: 'Caveat', cursive;

}
.para2{
  position:absolute;color:#51c2d5;margin:32% 10%;width:80%;font-size: 350%;font-family: 'Great Vibes', cursive;

}
.img{
	margin:0;
}
.img1{ margin:0% 50%; 

}
.button{
  
}
.para3{
  position:absolute;margin:40% 10%;color:white;width:80%;font-size: 200%;font-family: 'Amatic SC', cursive;
}
.hrs{
	position:absolute;margin:72% 45%;
  width: 10%;height:30%;border:10px dotted white ;border-right: none;border-left: none;border-bottom:none;
}
